body {
    background-color: #308990;
    width: 100%;
    margin: 0;
    height: 100%;
    margin: 0;
    min-width: 700px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    font-size: smaller;
}

a {
    color: white;
    text-decoration: none;
}

.main-wrapper {
    position: fixed;
    top: 5px;
    right: 0;
    bottom: 5px;
    left: 0;
    margin-top: 60px;
    transition: margin 200ms ease-out;
}

.tools-section {
    max-width: 115px;
}

.center-section {
    text-align: center;
    font-size: 0;
    display: flex;
    position: absolute;
    left: 108px;
    top: 0;
    right: 10px;
    bottom: 0;
}

.tools-size {
    overflow: hidden;
    padding: 5px 5px;
    margin-left: 15px;
}

.size1,
.size2,
.size3,
.size4 {
    float: left;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-style: solid;
    border-width: 2px;
    border-color: #444;
    cursor: pointer;
    padding: 0px 4px;
    font-weight: bold;
    background-color: grey;
    color: black;
}

.tools li {
    cursor: default;
    background-color: #444;
    float: left;
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.tools {
    margin: 0;
}

.pencil {
    background-image: url(/src/image/icons.png);
    background-position: -182px -92px;
}

.bucket {
    background-image: url(/src/image/icons.png);
    background-position: -228px -92px;
}

.eraser {
    background-image: url(/src/image/icons.png);
    background-position: -46px -228px;
}

.stroke {
    background-image: url(/src/image/icons.png);
    background-position: -46px -136px;
}

.picker {
    background-image: url(/src/image/icons.png);
    background-position: -274px 0px;
}

.bucketall {
    background-image: url(/src/image/icons.png);
    background-position: -229px -140px;
}

.color-section {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.left-color {
    float: left;
    cursor: pointer;
    width: 46px;
    height: 46px;
    background-color: #3a3a3a;
    z-index: 100;
    position: relative;
}

.right-color {
    float: left;
    cursor: pointer;
    width: 46px;
    height: 46px;
    background-color: #3a3a3a;
    z-index: 100;
    position: relative;
    z-index: 90;
    margin-top: 25px;
    margin-left: -20px;
}

.swap-color {
    background-image: url(/src/image/icons.png);
    background-position: -274px -222px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 52px;
    left: 6px;
    cursor: pointer;
}

.left-mouse {
    background-color:gold;
    width: 100%;
    height: 100%;
}

.right-mouse {
    background-color: grey;
    width: 100%;
    height: 100%;
}

.tools li {
    margin: 1px;
    list-style-type: none;
}

ul li {
    padding: 0;
}

.resize,
.export {
    margin: 10px;
    font-size: 15px;
}

.navigation {
    border-bottom: 1px solid #1a1a1a;
    background: rgb(7, 72, 83);
    height: 60px;
    line-height: 17px;
}

.logo {
    margin: 0 0 0 40px;
    line-height: 60px;
}

.wrapperButtons {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.left-column {
    vertical-align: top;
    height: 100%;
    padding-right: 7px;
    flex-shrink: 0;
}

.main-column {
    height: 100%;
    position: relative;
}

.right-column {
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 10px;
    padding-bottom: 20px;
}

.animated-preview-container {
    background: #333;
    border-radius: 0 0 2px 2px;
    flex-shrink: 0;
    position: relative;
}

.canvas-background-mini {
    height: 200px;
    width: 200px;
    background: url(/src/image/black-squares.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.number-FPS {
    float: left;
    color: #aaa;
    font-size: 12px;
    min-width: 55px;
    vertical-align: bottom;
    line-height: 26px;
}

.mini-map-canvas {
    height: 200px;
    width: 200px;
}

.repeat-mini-map {
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: contain;
}

.preview-list-wrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.preview-list-scroller {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.preview-tile {
    position: relative;
    border: #444 3px solid;
    border-radius: 3px;
    margin: 5px 0;
    width: 96px;
    height: 96px;
}
.preview-tile:hover .clone-button {
    display: block;
}
.preview-tile:hover .delete-button {
    display: block;
}
.preview-tile:hover .dragndrop-button {
    display: block;
}

.clone-button,
.delete-button,
.dragndrop-button {
    display: none;
}

.drawing-canvas-container {
    font-size: 0;
    position: relative;
    display: block;
}

.add-frame-action {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 6px 0;
    overflow: hidden;
    width: 98px;
    border: #444 3px solid;
    border-radius: 4px;
    color: white;
    background-color: #1f535a;
    font-size: 13px;
    cursor: pointer;
}
.add-frame-action:hover {
    border-color: gold;
}

.add-frame-action-icon {
    margin: 3px;
    float: left;
    flex-shrink: 0;
    background-image: url(/src/image/icons.png);
    background-position: -274px -157px;
    width: 26px;
    height: 26px;
}

.add-frame-action-label {
    overflow: hidden;
    text-align: left;
}

.top-overflow {
    top: -20px;
}

.bottom-overflow {
    bottom: -20px;
    background-position: 3px -20px;
}

.top-overflow,
.bottom-overflow {
    height: 20px;
    position: absolute;
    left: 0;
    right: 12px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    background-image: linear-gradient(45deg, #1D1D1D 20%, transparent 25%, transparent 75%, #1D1D1D 80%, #1D1D1D), linear-gradient(-45deg, #1D1D1D 20%, transparent 25%, transparent 75%, #1D1D1D 80%, #1D1D1D);
    background-size: 30px 40px;
    background-repeat: repeat-x;
    background-position: 3px 0;
    z-index: 10;
}

.canvas-container {
    position: relative;
    display: block;
}

.canvas-background,
.canvas-background-draw {
    background: url(/src/image/black-squares.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#mycanvas {
    position: relative;
    image-rendering: pixelated;
}

.li-selected {
    border: gold 3px solid;
}

.tile-overlay {
    z-index: 10;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.6);
    height: 30px;
    width: 30px;
    border: none;
}

.clone-button {
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    background-image: url(/src/image/icons.png);
    background-position: -274px -76px;
}

.delete-button {
    top: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    background-image: url(/src/image/icons.png);
    background-position: -274px -106px;
}

.dragndrop-button {
    bottom: 0;
    left: 0;
    border-top-right-radius: 3px;
    cursor: move;
    background-image: url(/src/image/icons.png);
    background-position: -274px -46px;
}

.toggle-button {
    background-color: #ffd700;
    color: black;
    border-bottom-right-radius: 3px;
    top: 0;
    left: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
}

.tile-view-canvas {
    position: relative;
    z-index: 1;
}

.preview-list {
    list-style-type: none;
    padding-right: 9px;
}

.footer {
    display: flex;
    position: relative;
    width: 100%;
    padding: 30px 0;
    font-size: 1rem;
    color: #aaa;
    justify-content: center;
    align-items: center;
    background: rgb(4, 44, 51);
}

.github {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

.main {
    font-size: 4em;
}

.github img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
    flex-shrink: 0;
}

.button {
    position: relative;
    margin: 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: gold;
}

.size32,
.size64,
.size128 {
    margin: 0 3px;
    color: grey;
    font-weight: bold;
    background-color: #0b4044;
    padding: 0 5px;
    border: 1px solid;
    cursor: pointer;
}

.apng,
.gif {
    font-size: small;
    margin: 0 3px;
    color: grey;
    font-weight: bold;
    background-color: #0b4044;
    padding: 0 5px;
    border: 1px solid gold;
    cursor: pointer;
}

.apng:hover {
    border: 1px solid gold;
    color: gold;
}

.gif:hover {
    border: 1px solid gold;
    color: gold;
}

.active-gold {
    color: gold;
    border-color: gold;
}

.main-wrapper-landing {
    margin: 15px;
    text-align: -webkit-center;
}

.one-view,
.two-view {
    width: 300px;
    margin: 30px;
    border: 2px solid gold;
}

.full-screen {
    font-size: initial;
    border: 2px solid #b3e2e0;
    margin: 4px;
    cursor: pointer;
    background-color: gray;
}
.full-screen:hover {
    border: 2px solid gold;
    color: gold;
}

.active-tool {
    border: 3px solid gold;
    margin: 10px -2px;
}

.wrapper-img {
    display: inline-flex;
}

.main-create {
    height: 50px;
    line-height: 50px;
    color: #333;
    background: gold;
    text-shadow: none;
    white-space: nowrap;
    padding: 0 10px;
    border-style: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.wrapper-create {
    display: flex;
    justify-content: center;
}

.wrapper-functions {
    padding: 30px;
    text-align: left;
}

.function {
    padding: 25px;
    display: inline-flex;
    margin: 5px;
    background: #7acaa1;
    width: 90%;
}

.four-wrapper,
.three-wrapper,
.two-wrapper,
.one-wrapper {
    padding: 0 20px;
}

.two-img {
    height: 160px;
}

.keyboard {
    background-image: url(./image/icons.png);
    background-position: -274px -136px;
    width: 36px;
    height: 21px;
    color: gold;
    font-weight: bold;
    font-size: 1.25em;
    line-height: 20px;
    cursor: pointer;
    opacity: 0.5;
    position: fixed;
    margin: 0 -9px;
}
.keyboard:hover {
    opacity: 1;
}

.wrapper-keyboard-shortcuts {
    position: absolute;
    z-index: 20000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 150px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: rgba(0,0,0,0.8);
}

.display-none {
    display: none;
}

.name-shortcuts {
    width: 100%;
    background: gold;
    margin: 0;
    padding: 10px;
    color: black;
    font-size: 1.8em;
    height: 45px;
    box-sizing: border-box;
    border-radius: 3px;
}

.close-keyboard {
    float: right;
    line-height: 22px;
    margin-right: 10px;
    font-size: 32px;
    cursor: pointer;
}

.wrapper-change-shortcuts {
    box-sizing: border-box;
    display: block;
    bottom: 46px;
    padding: 20px 3%;
    border-radius: 3px;
    background-color: #0a2729;
    overflow: auto;
    border: 2px solid gold;
}

.liRow {
    padding: 0;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}

.tool-icon {
    float: left;
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    background-size: 30px 30px;
    background-color: brown;
    pointer-events: none;
}

.pencil-key-image {
    background-image: url(./image/tool-pen.png);
}
.bucket-key-image {
    background-image: url(./image/tool-paint-bucket.png);
}
.eraser-key-image {
    background-image: url(./image/tool-eraser.png);
}
.stroke-key-image {
    background-image: url(./image/tool-stroke.png);
}
.picker-key-image {
    background-image: url(./image/tool-colorpicker.png);
}
.bucketall-key-image {
    background-image: url(./image/tool-colorswap.png);
}

.shortcut-edit {
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    line-height: 26px;
    padding: 0 10px;
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    border-color: gold;
    color: gold;
    pointer-events: none;
}

.description-text {
    font-size: 14px;
    margin-left: 10px;
    line-height: 30px;
    pointer-events: none;
}

.shortcuts-main-text {
    text-align: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #ffd700;
}

::-webkit-scrollbar-track {
   background-color: rgba(50, 50, 50, 0.4);
}